@import "tailwindcss";

@theme {
  --color-primary: #0b896e; 
  --color-accent:  #2c5; 
  --color-bg:      #fafafa; 
}

body {
  background-color: #fbfbfb;
  color: #333;
  font-family: system-ui, sans-serif;
}
.max-w-container { @apply max-w-[1200px]; }